.detail-title {
	text-align: start;
	margin: 0px 50px;
	padding: 45px 30px;
}
.detail-body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #f3f3f3;
	padding: 45px 30px;
	margin: 0px 50px;
	text-align: start;
}

.product-info {
	margin: 30px 50px;
}

.add-edit-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.add-edit-btns a {
	width: 35%;
}

#detail-btn {
	width: 100%;
}
