.cart-item-container {
	display: flex;
	flex-direction: row;
	padding: 5px 30px;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 5px;
}

.cart-img {
	width: 50%;
}
.item-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.name-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.name-price span {
	display: inline-block;
}

.item-quantity span {
	display: inline-block;
	height: 23px;
	width: 23px;
	border: 1px solid lightgrey;
	text-align: center;
	margin: 0;
	cursor: pointer;
}

.item-remove {
	text-decoration: underline;
	color: grey;
	cursor: pointer;
}

.quantity-remove {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 640px) {
	.cart-item-container {
		display: flex;
		flex-direction: row;
		padding: 5px 10px;
		border-bottom: 1px solid lightgrey;
		margin-bottom: 5px;
	}
	.cart-img {
		width: 30%;
	}
}
