.input-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.input-field {
	background: none;
	background-color: white;
	font-size: 18px;
	padding: 10px 0px 10px 0px;
	display: block;
	/* width: 100%; */
	border: 1px solid lightgrey;
	border-radius: 15;
	margin: 20px 0;
}

label.input-label {
	text-align: start;
	color: grey;
}
