.shopping-cart {
	margin: 0px 15px;
}

#cart-text {
	cursor: pointer;
}

#cart-icon {
	margin: 0px 30px 0px 0px;
	cursor: pointer;
}

.cart-count {
	position: absolute;
	width: 15px;
	height: 15px;
	font-size: 10px;
	font-weight: bold;
	bottom: 25px;
	right: 130px;
	color: white;
	border-radius: 50%;
	background-color: red;
	text-align: center;
}
