.modal-container {
	/* display: flex; */
	height: 500px;
	width: 540px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px lightgray;
	color: black;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 51%;
	transform: translate(-50%, -50%);
	background-color: white;
}

#title-text {
	margin-top: 40px;
}
.close {
	color: black;
	float: right;
	margin-right: 15px;
	margin-top: -80px;
	font-size: 28px;
	cursor: pointer;
}
@media screen and (max-width: 640px) {
	.modal-container {
		flex-direction: column;

		height: 400px;
		width: 350px;
	}
}
