.nav-bar {
	background-color: #111827;
	position: sticky;
	width: 100%;
	left: 0;
	top: 0;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 50px;
	font-weight: bold;
}

.nav-title {
	/* margin: auto; */
}
.search-bar {
	/* flex-grow: 1.5; */
	width: 40%;
	/* margin-right: auto; */
	padding-bottom: 5px;
}

.nav-right {
	display: flex;
	align-items: center;
}

#bigTitle {
	font-size: larger;
	margin: 30px 5px;
}
#smallTitle {
	font-size: x-small;
}

input.nav-search {
	width: 70%;
	margin: auto;
	padding: 5px 10px;
	margin-top: 5px;
}

.search-btn {
	background: transparent;
	border: none;
	outline: none;
	margin-left: -33px;
}

.search-btn img {
	width: 15px;
	height: 15px;
	object-fit: cover;
}

.search-icon {
	cursor: pointer;
	width: 13px;
	height: 13px;
	/* background-color: #111827; */
}

.shopping-cart {
	margin: 15px 15px;
	/* margin: auto; */
}

#cart-text {
	cursor: pointer;
}

#cart-icon {
	margin-top: 8px;
	margin-right: 10px;
	cursor: pointer;
}
