.nav-bar {
	background-color: #111827;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 50px;
	/* font-weight: bold; */
	flex-direction: row;
}

#bigTitle {
	font-size: larger;
	font-weight: bold;
	margin: 0px 5px 0px 120px;
	cursor: pointer;
}

#bigTitle-shrink {
	display: none;
	cursor: pointer;
}
#smallTitle {
	font-size: x-small;
	font-weight: bold;
	cursor: pointer;
}
.nav-title {
	/* margin: auto; */
}

.search-bar {
	/* display: flex; */
	/* flex-grow: 1.5; */
	width: 40%;
	margin-right: auto;
	padding-bottom: 5px;
}

input.nav-search {
	width: 70%;
	padding: 5px 0px;
	margin-top: 5px;
	height: 23px;
	border-radius: 5px;
}

.search-btn {
	background: transparent;
	border: none;
	outline: none;
	margin-left: -33px;
	cursor: pointer;
}

.search-icon {
	cursor: pointer;
}

.nav-right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav-right {
	font-size: medium;
	font-weight: bold;
	margin: 0px 20px 0px 0px;
}

#sign-in-text {
	cursor: pointer;
}
#user-icon {
	/* margin-top: 8px;
	margin-right: 10px; */
	margin: 10px 10px 10px 20px;
	cursor: pointer;
}

@media screen and (max-width: 640px) {
	.nav-bar {
		height: 140px;
		/* align-items: center; */
		/* flex-direction: column; */
		/* position: relative; */
		width: 100%;
		left: 0;
		top: 0;
		flex-wrap: wrap;
	}
	.nav-title {
		order: 1;
	}

	.search-bar {
		order: 3;

		/* margin-top: 0px;
		margin: auto; */
	}

	input.nav-search {
		width: 330px;
		margin: 0px 20px;
	}

	#sign-in-text {
		display: none;
		cursor: pointer;
	}

	.nav-right {
		order: 2;
	}

	.shopping-cart {
		display: flex;
		flex-direction: row;
		/* float: right; */
	}

	#bigTitle-shrink {
		display: inline;
		color: white;
		font-size: larger;
		font-weight: bold;
		margin-right: 0px;
		cursor: pointer;
	}

	#bigTitle {
		display: none;
	}
}
