.homepage-container {
	/* display: flex; */
	align-items: center;
}

.product-title {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 20px 50px 0px 50px;
}
.title-right {
}

.drop-down {
	height: 40px;
	width: 120px;
	border: 1px solid lightgrey;
	border-radius: 15;
	margin: 20px 20px 0px 0px;
}
.add-product {
	height: 40px;
	width: 120px;
	background-color: rgb(67, 27, 227);
	color: white;
	border: 1px solid lightgrey;
	border-radius: 15;
	cursor: pointer;
}
