.extra-form-text {
	color: black;
	font-size: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

#have-account a {
	color: #5048e5;
	cursor: pointer;
}
