/* .add-product {
	height: 40px;
	width: 120px;
	background-color: rgb(67, 27, 227);
	color: white;
	border: 1px solid lightgrey;
	border-radius: 15;
	cursor: pointer;
} */

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
	height: 900px;
	width: 800px;
	margin: auto;
	background-color: white;
	padding: 20px 40px;
	color: grey;
	font-weight: bold;
}

.form-container label {
	display: block;
	text-align: start;
	margin: 30px 0px;
}
/* .create-product-form {
	height: 100%;
} */

.product-name {
	width: 100%;
	height: 30px;
	border: 1px solid lightgrey;
}

.textarea {
	width: 100%;
	height: 100px;
	border: 1px solid lightgrey;
}

.category-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.category {
	display: inline-block;
	width: 49%;
}

.price {
	display: inline-block;
	width: 49%;
}

.select-category {
	height: 36px;
	width: 100%;
	/* margin-right: 5px; */
	border: 1px solid lightgrey;
}

.price input {
	width: 100%;
	height: 30px;
	border: 1px solid lightgrey;
}

.instock-upload {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.instock {
	/* height: 30px; */
	width: 38%;
}

.upload {
	/* height: 30px; */
	width: 58%;
}

.instock input {
	height: 30px;
	width: 100%;
	border: 1px solid lightgrey;
}

.upload input[type="text"] {
	height: 30px;
	width: 100%;
	border: 1px solid lightgrey;
}

/* .upload-btn {
	display: inline;
	position: absolute;
	top: 100px;
	right: 60px;
} */

.img-preview {
	height: 290px;
	width: 482px;
	border: 1px dashed lightgrey;
	margin: auto;
}

.add-product {
	margin-top: 20px;
}
.add {
	width: 20%;
	height: 30px;
	/* margin: 25px 0px 0px 0px; */
	/* padding: 10px 0px 10px 0px; */
	/* font-size: 15px;
	letter-spacing: 0.5px; */
	background-color: rgb(67, 27, 227);
	color: white;
	border: 2px solid rgb(67, 27, 227);
	border-radius: 3px;
	cursor: pointer;
	margin-top: 15px;
}

.cancel {
	width: 20%;
	height: 30px;
	/* margin: 25px 0px 0px 0px; */
	/* padding: 10px 0px 10px 0px; */
	/* font-size: 15px;
	letter-spacing: 0.5px; */
	background-color: rgb(67, 27, 227);
	color: white;
	border: 2px solid rgb(67, 27, 227);
	border-radius: 3px;
	cursor: pointer;
	margin-top: 15px;
}

#img-url {
	/* padding-right: 50px; */
}

#upload [type="submit"] {
	/* display: inline; */
	margin-left: -50px;
	width: 50px;
}
.add-cancel {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
}

.add:hover {
	background-color: rgb(255, 255, 255);
	color: black;
	border: 1px solid black;
}

.cancel {
	background-color: rgb(255, 255, 255);
	color: black;
	border: 1px solid black;
}
.add-cancel a {
	width: 40%;
	margin-top: 15px;
}

#create-cancel {
	width: 49%;
}

@media screen and (max-width: 640px) {
	.edit-product-container {
		padding: 10px 10px;
	}
	div.form-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/* align-items: center; */
		/* height: 950px; */
		width: 90%;
		/* margin: auto; */
		background-color: white;
		padding: 10px 10px;
		margin: 10px 10px 200px 10px;
		color: grey;
		font-weight: bold;
	}
	.product-title {
		margin-top: 100px;
	}

	.category-price {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.category {
		width: 100%;
	}
	.price {
		width: 100%;
	}

	.instock-upload {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.instock {
		width: 100%;
	}

	.upload {
		width: 100%;
	}
	.img-preview {
		width: 100%;
		height: 150px;
		border: 1px dashed lightgrey;
		margin-right: 0px;
	}
}
